<!DOCTYPE html>
<head>
	<title>PDF склейщик</title>
	<script src="{{url_for('static', filename = 'jquery.js')}}"></script>
	<script src="{{url_for('static', filename = 'jquery-ui.js')}}"></script>
	<script src="{{url_for('static', filename = 'sortable.js')}}"></script>
	<script src="{{url_for('static', filename = 'dnd.js')}}"></script>
	<style>
		#drag{
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width : 100%;
		}
		#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
		#sortable li {
			margin: 0 3px 3px 3px;
			padding: 0.4em;
			padding-left: 1.5em;
			font-size: 1.4em;
			height: 18px;
			background: gray;
		}
		#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
</head>
<body>
    <div class="drag" id="drag" ondragenter ="dropenter(event);" ondragover ="allow(event);" ondrop = "drop(event)">
		Возвращает pdf. Клеит LR LA LB в папке
		<form method="post" action="/uploadFolder" enctype="multipart/form-data">
			<input type="file" name="file[]" multiple=""
				accept="application/pdf" webkitdirectory>
			<input class="button" type="submit" value="Склеить"/>
		</form>
		<br>
		Возвращает zip. Клеит LR LA LB в папке и всех подпапках сохраняя вложенность
		<form method="post" action="/uploadRecursive" enctype="multipart/form-data">
			<input type="file" name="file[]" multiple=""
				accept="application/pdf" webkitdirectory>
			<input class="button" type="submit" value="Склеить"/>
		</form>
		<br>
		Возвращает zip. Клеит pdf в папке согласно Excel файлу в той же папке
		<form method="post" action="/uploadExcel" enctype="multipart/form-data">
			<input type="file" name="file[]" multiple=""
				accept="application/pdf" webkitdirectory>
			<input class="button" type="submit" value="Склеить"/>
		</form>
		<br>
		Возвращает список форматов pdf файлов в папке
        <form method="post" action="/uploadTypes" enctype="multipart/form-data">
			<input type="file" name="file[]" multiple=""
				accept="application/pdf" webkitdirectory>
			<input class="button" type="submit" value="Склеить"/>
		</form>
		<br>
		Склейка по заданному порядку
		<form id="form2" method="post" enctype="multipart/form-data">
			<input id="select" type="file" accept="application/pdf" multiple />
			<input id="update" type="button" value="Добавить выбранное"/>
			<input type="submit" value="Склеить" name="submit" />
			<script>
				update.onclick = function() {
					let files = select.files;
					for (let i = 0; i < files.length; ++i) {
						appendFile(files[i]);
					}
					form2.reset()
				};
			</script>  
		</form>
		<ul id="sortable" class="connectedSortable"></ul>
	</div>
</body>
